<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}APhome{% endblock %}</title>
    {% load static %}
    <!-- Global CSS (like your base styles) -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="../media/education_graduate_college_university_cap_graduation_icon_262277.ico" type="image/x-icon">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Icons+Round'>
    <!-- Additional CSS for individual pages can be added here -->
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Navbar -->
    <header>
        <nav id="navbar">
            <ul class="navbar-items flexbox-col">
              <li class="navbar-logo flexbox-left">
                
                <a class="navbar-item-inner flexbox">
                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 1438.88 1819.54">
                    <polygon points="925.79 318.48 830.56 0 183.51 1384.12 510.41 1178.46 925.79 318.48"/>
                    <polygon points="1438.88 1663.28 1126.35 948.08 111.98 1586.26 0 1819.54 1020.91 1250.57 1123.78 1471.02 783.64 1663.28 1438.88 1663.28"/>
                  </svg>
                </a>

                <p class="link-text" style="font-size: 16px; text-align: right;"><a href="{% url 'home_url' %}" style="color: #DFF5FF;">خانه برنامه نویسان اهواز</a></p>
              </li>
              {% if request.user.is_authenticated %}
                  <li class="navbar-item flexbox-left">
                      <a href="#" class="navbar-item-inner flexbox-left">
                          <div class="navbar-item-inner-icon-wrapper flexbox">
                              <img class="small-profile" src="{% static 'media/default_profile.png' %}">
                          </div>
                          <span class="link-text">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                      </a>
                  </li>
              {% endif %}

              <li class="navbar-item flexbox-left">
                <a href="{% url 'courses_url' %}" class="navbar-item-inner flexbox-left">
                  <div class="navbar-item-inner-icon-wrapper flexbox">
                    <img class="icon" src="{% static 'media/icons/course.png' %}" alt="">
                  </div>
                  <span class="link-text">دوره ها</span>
                </a>
              </li>
              <li class="navbar-item flexbox-left">
                <a href="{% url 'my-courses_url' %}" class="navbar-item-inner flexbox-left">
                  <div class="navbar-item-inner-icon-wrapper flexbox">
                    <img class="icon" src="{% static 'media/icons/flow-chart.png' %}" alt="">
                  </div>
                  <span class="link-text">دوره های من </span>
                </a>
              </li>
              <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                  <div class="navbar-item-inner-icon-wrapper flexbox">
                    <img class="icon" src="{% static 'media/icons/weekly.png' %}" alt="">
                  </div>
                  <span class="link-text">برنامه کلاس ها</span>
                </a>
              </li>
              <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                  <div class="navbar-item-inner-icon-wrapper flexbox">
                    <img class="icon" src="{% static 'media/icons/exams.png' %}" alt="">
                  </div>
                  <span class="link-text">برنامه امتحانات</span>
                </a>
              </li>
              <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                  <div class="navbar-item-inner-icon-wrapper flexbox">
                    <img class="icon" src="{% static 'media/icons/a-.png' %}" alt="">
                  </div>
                  <span class="link-text">کارنامه</span>
                </a>
              </li>
              <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left">
                  <div class="navbar-item-inner-icon-wrapper flexbox">
                    <img class="icon" src="{% static 'media/icons/money-transfer.png' %}" style="scale: 1.2;" alt="">
                  </div>
                  <span class="link-text">اطلاعات مالی</span>
                </a>
              </li>
              <li class="navbar-item flexbox-left">
                <a href="{% url 'logout_url' %}" class="navbar-item-inner flexbox-left">
                  <div class="navbar-item-inner-icon-wrapper flexbox">
                    <img class="icon" src="{% static 'media/icons/log-out.png' %}" style="scale: 1.1;" alt="">
                  </div>
                  <p class="link-text" style="text-align: right;">خروج</p>
                </a>
              </li>
            </ul>
          </nav>
    </header>

    <!-- Main content area -->
    <main>
      {% if messages %}
      <div class="messages" id="messages">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            <h3 style="margin: 0 auto;">{{ message }}</h3>
          </div>
        {% endfor %}
      </div>
      {% endif %}
        
        {% block content %}
        <div class="box">
          <h1>پیشرفت فعلی</h1>
          <a href="{% url 'student_login_url' %}">ورود دانشجو</a>
          <a href="{% url 'teacher_login_url' %}">ورود استاد</a>
          <a href="{% url 'register_url' %}">ثبت نام</a>
          <a href="{% url 'logout_url' %}">خروج</a>

        </div>
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>© 2024 My Website. All rights reserved.</p>
    </footer>


    <!-- Additional JS for individual pages can be added here -->
    {% block extra_js %}{% endblock %}
    <!-- Global JS (like common scripts) -->
    <script src="{% static 'js/base.js' %}"></script>
    
    

</body>
</html>
