<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8" dir="rtl">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAJ | ورود</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="../media/education_graduate_college_university_cap_graduation_icon_262277.ico" type="image/x-icon">


    
</head>
<body>
  {% if messages %}
      <div class="messages" id="messages">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            <h3 style="margin: 0 auto;">{{ message }}</h3>
          </div>
        {% endfor %}
      </div>
      {% endif %}
    <div class="box">
        <h2>خانه برنامه نویسان اهواز</h2>
            <h3>صفحه ورود دانشجو </h3>

        <form method="POST" action="">
          {% csrf_token %}
          <div class="user-box">
            <input type="text" name="username" required>
            <label>شماره تلفن</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required>
            <label>رمز عبور</label>
          </div>
          <div class="buttons">
            <a href="{% url 'register_url' %}" class="button">ثبت نام</a>
            <button class="button" type="submit">ورود</button>
            
          </div>
        </form>




    </div>
    <script src="{% static 'js/base.js' %}"></script>

</body>
</html>