{% extends 'base.html' %}

{% block title %}
    Aphome | دوره های من
{% endblock %}
{% load static %}
{% load jformat %}

{% block extra_css %}
    <style></style>
{% endblock %}


{% block content %}

<div class="my-courses">

    {% for section in sections %}
    <div class="my-course">
        {% if section.course.course_img %}
        <img src="{{ section.course.course_img.url }}" alt="{{ section.course.title }}">
        {% else %}
        <img src="{% static 'default_course_image.jpg' %}" alt="{{ section.course.title }}">
        {% endif %}

        <h1>{{ section.course.title }}</h1>
        <p>{{ section.teacher.first_name }} {{ section.teacher.last_name }} | {{ section.name }}</p>
        
        {% for timeslot in section.time_slots.all %}
        <p>{{timeslot.get_day_of_week_display}} {{timeslot.timeOfSection}} {{timeslot.place}}</p><br>
        {% endfor %}

        <p>{{ section.exam.exam_time|jformat:"%Y/%m/%d"  }}</p>
        <p>در حال تحصیل</p>
        
    </div>
    {% endfor %}
</div>


{% endblock %}


{% block extra_js %}
    <script></script>
{% endblock %}