{% extends 'base.html' %}

{% block title %}
Aphome | مدارک من
{% endblock %}
{% load static %}


{% block extra_css %}
    <style></style>
{% endblock %}


{% block content %}

<div class="my-courses">

    {% for degree in degrees %}
    <div class="my-course" style="height: fit-content;">
        {% if degree.course.course_img %}
        <img src="{{ degree.course.course_img.url }}" alt="{{ degree.course.title }}">
        {% else %}
        <img src="{% static 'default_course_image.jpg' %}" alt="{{ degree.course.title }}">
        {% endif %}

        <h1>{{ degree.course.title }}</h1>
        _________________________
        <p style="padding-top: 10px">{{ degree.teacher.first_name }} {{ degree.teacher.last_name }} | {{ section.name }}</p>
        
        _________________________
        <h5 style="padding: 10px;">زمان کلاس ها</h5>
        {% for timeslot in section.time_slots.all %}
        <p>{{timeslot.get_day_of_week_display}} {{timeslot.timeOfSection}} {{timeslot.place}}</p><br>
        {% endfor %}

        _________________________
        <h5 style="padding: 10px;">تاریخ دوره</h5>
        <p>{{ degree.exam.first.exam_time|date:"Y/m/d ساعت H:i"  }}</p>


        _________________________
        <h5 style="padding: 10px;">حضور و غیاب</h5>
        <p>جلسات برگزار شده : {{ section.session_number }} جلسه</p>
        <p>تعداد غیبت ها : {{ section.attendance_count }}

        </p>


        
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block extra_js %}
    <script></script>
{% endblock %}